* {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.score {
    display: flex;
    justify-content: center;
    gap: 60px;
}